html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;

}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #4e4255;
}

img {
  display: block;
  width: 100%;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

.skip-links li {
  margin: 0;
}
.logo {
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  flex-direction: row;
}

body {
	margin: 0;
	background: #fff;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}
.content {
  height: 1000px;
  background-color: #0C382B;
  display: grid;
  place-items: center;
}
/* navigation styles start here */
header {
  background: #6a916e;
  text-align: center;
  z-index: 999;
  width: 100%;
}
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #fffabc;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}
.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px #6a916e;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #6a916e;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #fffabc;
}

/* ~ looks for any preceeding sibling. */
.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}


/* banner*/
.honeycomb {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.honeycomb img {
  grid-row: 1;
  grid-column: 1/-1;
}

.honeycomb h2 {
  font-weight: bold;
  z-index: 1;
  text-align: center;
  color: #0C382B;
  font-family: "Oleo Script", cursive;
  background-color: #FFFBC2;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: .5rem;
  padding: .5rem;
  border-radius: .5rem;
  grid-row: 1;
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
}

.honeycomb h1 {
  font-weight: bold;
  z-index: 1;
  text-align: center;
  color: #0C382B;
  font-family: "Oleo Script", cursive;
  background-color: #FFFBC2;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  grid-row: 1;
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
}

/* main */
h3 a {
  text-decoration: none;
  color: #0C382B;

}

h3 a:hover {
  color: #ec9222;
}


/* cards */
.cards {
  display: grid;
  grid-template-columns: 1fr;
}

article {
  align-items: center;
  border: .2rem solid #fcd732;
  background-color: #fcd732;
  color: #0C382B;
  text-decoration: none;
  text-align: center;

}

article img {
  align-items: center;
  padding: 1rem;

}

article h3 {
  grid-column: 1/-1;
  grid-row: 2;
  align-self: center;
  background-color:#FFFBC2;
  border: none;
  color: #0C382B;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .75rem;
  margin: .5rem;
  border-radius: .5rem;
}

/*donations*/

.donations {
  display: grid;
  grid-template-columns: 1fr;
}

.donations a {
  background-color:#ec9222;
  border: none;
  color: #0C382B;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Oleo Script", cursive;
  font-size: 2rem;
  margin: 3rem;
  border-radius: 1rem;
}

.donations a:hover {
  background: #fffabc;
  color: #ec9222;
}

.donations p {
  padding: 1rem;
}

/* locations page coding */
.locations {
  display: grid;
  grid-template-columns: 1fr;
}
.locations h2 {
  font-weight: bold;
  z-index: 1;
  text-align: center;
  color: #0C382B;
  font-family: "Oleo Script", cursive;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  grid-row: 1;
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
}


/* about page coding */



/* footer style*/
footer {
  background: #6a916e;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
footer li {
  margin-bottom: 1em;
  padding-top: 1rem;
}
footer a {
  color: #fffabc;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.2rem;
  text-transform: uppercase;
}
footer .icons {
  display: flex;
  justify-content: center;
}

.icons svg {
  margin: 1rem;
}

div .icons {
  margin-bottom: 0;
}


/* footer style end */
.logo {
  height: 6rem;
  width: 12rem;
  margin-top: .5rem
}




@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  .locations{
  display: grid;
  grid-template-columns: 1fr 1fr;
  }

  .enviro {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
   .enviro h2 {
     grid-column: 1/1
   }

   .enviro p {
     grid-column: 1/1
   }

   .localhoney {
     padding: 5rem;
   }

   .funfacts {
     display: grid;
     grid-template-columns: 1fr 1fr;
   }
    .funfacts h2 {
      grid-column: 1/1
    }

    .funfacts p {
      grid-column: 1/1
    }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo {
    grid-column: 2 / 3;
  }
  nav {
    all: unset; /*takes all styling off of the nav */
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
   nav a:hover::before {
    transform: scale(1,1);
  }


  article h3 {
    font-weight: bold;
    z-index: 1;
    text-align: center;
    color: #0C382B;
    background-color: #FFFBC2;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    grid-row: 1;
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
  }

  .honeycomb h1 {
    font-weight: bold;
    z-index: 1;
    text-align: center;
    color: #0C382B;
    font-family: "Oleo Script", cursive;
    background-color: #FFFBC2;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    grid-row: 1;
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
  }

  .honeycomb h2 {
    font-weight: bold;
    z-index: 1;
    text-align: center;
    color: #0C382B;
    font-family: "Oleo Script", cursive;
    background-color: #FFFBC2;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    grid-row: 1;
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .donations {
    grid-template-columns: 1fr 1fr;
  }
}


/* navigation styles and  finish here */
